/* 
    Document   : ingomaHome
    Created on : Apr 29, 2013, 10:21:21 AM
    Author     : pfumu
    Description:
        Purpose of the stylesheet follows.
*/

body{
     margin:0 auto;
     padding:0;
	 overflow-y:scroll;
     overflow-x:scroll;
	 text-align:center;
     height:1050px;
     width:100%;
	 }
		header{
		font-family: Segoe Script Bold, "Sans serif";
		font-style: italic;
		font-weight: bold;
		font-size: 0.6em;
		text-align: center;
		}
	#ingomahomebg{
		display: block;
		background:url(imgs/AmaFinal.jpeg);
		background-repeat:no-repeat;
		-moz-background-size:100% 100%; /* Firefox 3.6 */
		background-size:100% 100%;
		-webkit-background-origin:border-box; /* Safari*/ 
		background-origin:border-box;
				}
	#ingomaHeader{
		background-color: white;
		opacity:0.6;
        filter:alpha(opacity=60); /* For IE8 and earlier */
		border: 4px solid orange;
		border-radius: 11px 11px 11px 11px ;
		display: inline;
		position : absolute;
		top: 90px;
		left:400px;
	}
	#ingomalogo img{
		opacity:0.6;
        filter:alpha(opacity=60); /* For IE8 and earlier */
		background:url(imgs/Ingoma_kilogo_base1.jpeg);
		-moz-background-size:100% 100%; /* Firefox 3.6 */
		background-size:100% 100%;
		background-repeat:no-repeat;
		-webkit-background-origin:content-box; /* Safari */
		background-origin:content-box;
	}
    #ingomalogo img:hover{
		opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
	}
	#ingomalogo p:{
		font-family: Segoe Script Bold, "Sans serif";
		font-style: italic;
		font-weight: bold;
		font-size: 5.0em;
		color: brown;
		padding: 1px 2px 2px 260px;
	}
	#english a{
	display:block;	
	color:brown;
	width:40px;
	position : absolute;
	text-decoration: none;
	top: 5px;
	left:600px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#english a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
	#french a{
	display:block;	
	color:brown;
	width:40px;
	position : absolute;
	text-decoration: none;
	top: 5px;
	left:700px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#french a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
	
	nav{
		font-family: Segoe Script Bold, "Sans serif";
		font-style: italic;
		font-weight: bold;
		font-size: 1.0em;
		text-align: center;
		}
	#mission a{
	display:block;	
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 750px;
	left:420px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#mission a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
        #services a{
	display:block;	
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 670px;
	left:520px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#services a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
	#excursion a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 520px;
	left:730px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#excursion a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
#galery a{
	display:block;
	color:brown;
	width:100px;
	position : absolute;
	text-decoration: none;
	top: 680px;
	left:530px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#galery a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
#testify a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 600px;
	left:580px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#testify a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
#bookings a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 570px;
	left:890px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#bookings a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
        #burundi a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 620px;
	left:980px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#burundi a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
#twebwe a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 660px;
	left:1050px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#twebwe a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
	#missionnavfr a{
	display:block;	
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 750px;
	left:420px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#missionnavfr a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
        #servicesnavfr a{
	display:block;	
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 670px;
	left:520px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	#servicesnavfr a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
	#excursionavfr a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 520px;
	left:730px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#excursionavfr a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}

#temoignages a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 600px;
	left:580px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#temoignages a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
#reservation a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 570px;
	left:890px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#reservation a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
        #burundinavfr a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 620px;
	left:980px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#burundinavfr a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
#apropos a{
	display:block;
	color:brown;
	width:80px;
	position : absolute;
	text-decoration: none;
	top: 660px;
	left:1050px;
	opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
#apropos a:hover{
	opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */	
	}
	article{
		background-color: white;
		border: 1px solid gray;
		border-radius: 20px 20px 20px 20px ;
		box-shadow: 4px 4px 2px #AAA;
		color: black;
		display: inline;
		position: absolute;
		top: 500px;
		left: 420px;
		opacity:0.7;
        filter:alpha(opacity=70); /* For IE8 and earlier */
		font-family: Segoe Script Bold, "Sans serif";
		font-style: italic;
		font-weight: bold;
		font-size: 1.0em;
		padding: 20px;
		text-align: center;
		visibility: hidden;
		}
		#mission_text{
						}
	#footer{
			background-color: white;
		border: 0.8px solid gray;
		border-radius: 10px 10px 10px 10px;
		display: inline;
		position: absolute;
			top: 1080px;
			right: 680px;
		opacity:0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */	
		}
		#footer p {
			display: inline;
			font-size: 1.1em;
            font-weight: bold;
			text-align: center;
				}
		#footer a{color : black;text-decoration: none;}

